.container{
  padding: 6% 0;
  padding-bottom:3%;
}

.header{
  font-size: 44px;
  padding-bottom: 10px;
  width: 90%;
  margin: auto;
  padding-bottom:2%
}

.header__blue{
  color: #3458a1;
}

.swiper__container{
  width:96%;
  margin: auto;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-bottom: 20px !important;
  position:relative !important;
}

@media(max-width: 820px){
  .header{
    font-size: 28px;
    padding-bottom: 15px;
  }

  .swiper__container{
    width:90%;
    padding-left: 0px !important;
    padding-right: 40px !important;
  }
}
