.tutors__container{
  width: 90%;
  margin: auto;
  padding-top: 8%;
  padding-bottom: 5%;
}

.tutors__inner{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.tutors__left{
  width: 45%;
}

.tutors__right{
  width: 55%;
}

.tutors__header{
  font-size: 48px;
  margin-top: -30px;
}

.tutors__header__blue{
  color: #3458a1;
}

.tutors__para{
  color: #666;
  width: 70%;
  font-size: 18px;
  line-height: 27px;
  margin-top: -20px;
}

.swiper__container{
  width:100%;
  padding-left: 46px !important;
  padding-right: 48px !important;
  padding-bottom: 20px !important;
  position:relative !important;
}

.prev__btn{
  display: inline-block;
  margin-left: -40px;
}

.next__btn{
  display: inline-block;
  margin-right: 0px;
}
