.container{
  background-color: #fff8e6;
  padding-top: 6%;
  padding-bottom: 6%;
}

.inner{
  width: 90%;
  margin: auto;
  display: flex;
}

.left{
  width: 70%
}

.right{
  width: 30%;
}

.header__main,
.header__main__bottom{
  font-size: 48px;
  margin: 0;
  padding: 0;
  margin-bottom:50px;
  font-weight: bold;
}

.text__blue{
  color: #3458a1;
}

@media(max-width: 820px){
  .container{
    padding-bottom: 60px;  
  }

  .right{
    display: none;
  }

  .left{
    width: 100%;
  }

  .header__main,
  .header__main__bottom{
    font-size: 36px;
    margin-bottom: 0px;
  }

  .header__container{
    padding-top: 40px;
  }
}
