.showcase__container{
  background-color: #3458a1;
  position: relative;
  padding-bottom: 50px;
}

.showcase__bgImg{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}

.showcase__content__container{
  padding-top: 4%;
  padding-bottom: 4%;
  width: 90%;
  margin: auto;
  display: flex;
}

.showcase__content__left{
  width: 50%;
}

.showcase__header__small{
  font-size: 54px;
	color: #fff;
	font-weight: 600;
	width: 100%;
	margin-bottom: -20px;
}

.showcase__header__big{
  font-size: 60px;
	color: #fff;
	font-weight:600;
	margin-top: 20px;
}

.showcase__header__colored{
  color: #f7c66b;
	font-size: 60px;
	font-weight: 600;
}

.showcase__header__thin{
	color: #fff;
	font-size: 34px;
  font-weight: 500;
	width: 50%;
	line-height: 2rem;
}

.click__away__img__container{
  display: inline-block;
  padding-left: 10px;
  position: relative;
}

.click__away__icon{
  position: absolute;
  top: -50px;
}

.showcase__features__container{
  margin-top: 50px;
}

.showcase__content__right{
  width: 50%;
  position: relative;
}

.showcase__landingForm__container{
  width: 70%;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 4%;
  left: 20%;
  box-shadow: 1px 1px 5px #999;
}
