.showcase__container{
  background-color: #3458a1;
  position: relative;
}

.showcase__bgImg{
  position: absolute;
	top: 0;
	right: 0;
  height:'400px';
  width:'400px';
}

.showcase__navbar{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.showcase__navbar__logo{
  width: 90px;
}
