.container{
  text-align: center;
  color:#fff;
  padding: 9% 0;
}

.bottom svg{
  display:block;
}

.top svg{
  transform: rotate(180deg);
  background-color: #3458a1;
}

.header{
  margin:0;
  margin-top: -10px;
  font-size: 48px;
}

.para{
  font-family: Rubik;
  font-size: 19px;
  font-weight: 300;
}

.form__container{
  width: 70%;
  margin: auto;
  padding-top:40px;
}

@media(max-width: 820px){
  .header{
    font-size: 34px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }

  .para__container{
    padding-top: 5px;
  }

  .para{
    margin: 0;
    padding: 0;
    padding-top:5px;
    font-size: 16px;
  }

  .form__container{
    width: 90%;
    padding-top:25px;
  }
}
