.container{

  text-align: center;
  color:#fff;
}

.content{
  background-color: #3458a1;
}

.bottom svg{
  display:block;
}

.top svg{
  transform: rotate(180deg);
  background-color: #3458a1;
}

.header{
  margin:0;
  padding-top:8%;
  margin-top: -10px;
  font-size: 48px;
}

.para{
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
}

.form__container{
  width: 70%;
  margin: auto;
  padding-top:50px;
}
