.container{
  width: 90%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right{
  width: 47%;
}

.label{
  color: #3458a1;
  font-size: 18px;
  font-family: Rubik;
  margin: 0;
  padding-bottom: 10px;
}

.label__underline{
  height: 2px;
  width: 66px;
  background-color: #3458a1;
  margin-bottom: 30px;
}

.header,
.header__bottom{
  font-size: 40px;
  margin: 0;
  padding-bottom: 5px;
}

.header__bottom{
  padding-bottom: 25px;
}

.para{
  font-size: 18px;
  font-family: Rubik;
  line-height: 27px;
  color: #666666;
  width:80%;
  margin:0;
  padding:0;
}

.top__right__container{
  display: flex;
  justify-content: flex-end;
}

.top__cards__container,
.bottom__cards__container{
  width:90%;
  display:flex;
  justify-content: space-between;
}

.bottom__left__container{
  padding-top:25px;
  display: flex;
  justify-content: flex-start;
}
