.drawer__container{
    height: 100%;
}

.drawer__header{
    padding: 10px 0;
    background-color: #2e5494;
}

.showcase__navbar{
    position: relative;
    z-index: 1;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .white__line{
    height: 1px;
    width: 100%;
    background-color:#d8d8d8;
    opacity:0.2;
  }

  .showcase__navbar__logo{
    width: 82px;
  }
  

.showcase__navlinks__container{
    display: flex;
  }

  .hamburgerMenu{
    color: #fff;
  }

  .whatsapp__bg,
  .icon__cross__bg{
    display: inline-block;
    height: 35px;
    width: 51px;
    background-color: #0a263b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 7px;
  }

  .icon__cross__bg{
    margin-right: 0;
  }

  .whatsapp,
  .icon__cross{
    position:relative;
    z-index: 1;
  }

  .header__text{
    width: 90%;
    margin:auto;
    color:#fff;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .form__container{
    width: 90%;
    margin: auto;
    padding-top: 10px;
  }

  .form__group__container{
    padding-top:20px;
  }

  .form__label{
    font-family: Poppins;
    font-weight: medium;
    margin: 0;
    margin-bottom: 5px;
  }