.features__container{
  display: flex;
	align-items: center;
  margin-top: -15px;
}

.features__text{
  color: #fff;
  font-size: 18px;
  font-weight:300;
  padding-left: 15px;
  font-family:Rubik;
}

@media(max-width: 820px){
  .features__text{
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    padding-left: 10px;
  }
}
