.showcase__container{
  background-color: #3458a1;
  position: relative;
}

.showcase__content{
  width: 90%;
  margin: auto;
  padding-top: 6%;
  padding-bottom: 6%;
  display: flex;
}

.left,
.right{
  width: 50%;
}

.left{
  padding-top: 20px;
}

.right{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.img__container{
  width: 552px;
  height: 350px;
  position: relative;
  z-index: 1;
}

.showcase__bgImg{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  overflow: hidden;
}


.showcase__header,
.showcase__header__yellow{
  font-size: 54px;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight:600;
}

.showcase__header__yellow{
  color: #f7c66b;
}

.click__away__img__container{
  display: inline-block;
  padding-left: 10px;
  position: relative;
}

.click__away__icon{
  position: absolute;
  top: -100px;
}

.showcase__para{
  font-size: 24px;
  color: #fff;
  margin: 0;
  margin-top: 20px;
  font-family: Rubik;
  font-weight: 300;
  width: 500px;
  line-height: 1.4;
}

.showcase__btn{
  background-color: #3dae34;
  border:none;
  border-bottom: 3px solid #28931f;
  color: #fff;
  font-size: 22px;
  border-radius: 60px;
  padding: 1rem 2rem;
  padding-top: 18px;
  width: 290px;
  font-weight: 500;
  font-family: Lato;
  margin-top:30px;
  cursor: pointer;
}

.features__container{
  margin-top: 100px;
  padding-top: 100px;
  background-color: #fff8e6;
  position:relative;
}

.features__content{
  position: relative;
}

.dot__line{
  position:absolute;
  top:0;
  left:33px;
  z-index: 0;
}

.dot__line2{
  position:absolute;
  top:110px;
  left:33px;
  z-index: 0;
}

.features__inner{
  width: 90%;
  margin: auto;
}

.features__header{
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 50px;
}

.features__bg__img{
  width: 541px;
  height: 706px;
  position:absolute;
  right:0;
  bottom:0;
}
