.container{
  display: flex;
  padding-bottom: 60px;
}

.number__container{
  background-color: #fff;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  box-shadow: 1px 4px 9px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1;
}


.number{
  font-size: 28px;
  color: #3458a1;
  font-weight: 600;
  font-family: Rubik;
}

.right{
  padding-left: 30px;
}

.header{
  font-size: 28px;
  font-weight: 600;
  font-family: Rubik;
  margin:0;
  padding:0;
}

.para__container{
  padding-top: 8px;
}

.para{
  margin:0;
  padding:0;
  font-size: 18px;
  font-family: Rubik;
  color: #666;
  padding-bottom: 5px;
}

@media(max-width: 820px){
  .container{
    display: block;
    padding-bottom: 30px;
  }

  .left,
  .right{
    width: 100%;
  }

  .right{
    padding: 0;
  }

  .number__container{
    margin: auto;
  }

  .header,
  .para{
    text-align: center;
  }

  .header{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  .para{
    font-size: 16px;
  }
}
